body{
    line-height: 1.5;
}
#book{
    padding: 1px 1px 1px 1px;
}
#image{
    width: 125px;
    height:150px;   
}
#name{
    width: 125px;
    height:50px;
    font-weight: bold;
    font-size: 18px; 
}
#description{
    width:125px;
    height: 50px;
    opacity: 0.5;
}
#cost{
    font-weight: bold;
    font-size: medium;
}
.books{
    display:inline-block;
    width: 145px;
    padding-top: 3%;
    padding-left: 1.5%;
}
a{
    color: black;
}
a:hover{
    color:black;
}
#footer{
    background-color: black;
    color: white;
}
#bc{
    padding-top: 10px;
    padding-left: 25px;
    text-align: center;
    text-transform: capitalize;
    font-size: xx-large;
    font-weight: lighter;
    font-style: oblique;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    opacity: 0.4;
}
#brand{
    text-decoration: overline;
    text-align: center;
    text-transform: capitalize;
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;
}
